.posts {
  display: block;
  padding-bottom: 100px;
  padding-top: 100px;
  

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;
    padding-bottom: $gap;
    grid-gap: $gap;

    @include lg-min {
      // grid-gap: $gap;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "b1 b1 b2 b3"
        "b4 b5 b6 b6";
    }

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "b1 b1 b2"
        "b3 b4 b4"
        "b5 b5 b6";
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "b1 b2"
        "b3 b4"
        "b5 b6";
    }

    @include sm {
      grid-template-columns: 1fr;
      grid-template-areas:
        "b1"
        "b2"
        "b3"
        "b4"
        "b5"
        "b6";
    }
  }
}

.posts-item__link {
  display: grid;
  height: 100%;
  grid-template-rows: 300px 1fr;
  // overflow: hidden;
}

.posts-item__content {
  display: grid;
  align-content: center;
  padding: $gap;
  overflow: hidden;

  h3 {
    transition: color 0.5s;
    text-align: center;
    font-family: $font-header;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  p {
    display: block;
    text-align: center;
    transition: color 0.5s;
    color: $color-gray;
    letter-spacing: 0em;
  }
}

.posts-item__img {
  display: flex;
  overflow: hidden;
  align-content: center;
  justify-content: center;

  img {
    width: 100%;
    transition: transform 0.5s;
    object-fit: cover;
  }
}

.posts-item {
  max-height: 550px;
  transition: background-color 0.5s;
  background-color: #f2f2f2;
 

  &:hover {
    background-color: #d8d8d8;

    .posts-item__img img {
      transform: scale(1.1);
    }
  }

  &:nth-of-type(1) {
    grid-area: b1;
  }

  &:nth-of-type(2) {
    grid-area: b2;
  }

  &:nth-of-type(3) {
    grid-area: b3;
  }

  &:nth-of-type(4) {
    grid-area: b4;
  }

  &:nth-of-type(5) {
    grid-area: b5;
  }

  &:nth-of-type(6) {
    grid-area: b6;
  }
}



