.form {
    background-color: $color-primary;
    padding-top: ($gap * 1.5);
    padding-bottom: ($gap * 1.5);
    

    @include sm {
        padding-top: $gap;
        padding-bottom: $gap;
    }
}

.form__btn-container {
    display: grid;

    @extend %container;
    grid-gap: $gap;

    @include lg-min {
        grid-template-columns: repeat(3, 1fr);
    }

    @include lg-md {
        grid-template-columns: repeat(3, 1fr);
    }

   
    
        @media (max-width:$md) and (min-width: $sm) {
            grid-template-columns: 1fr 1fr;
        }
      
    // @include md-sm {
    //     grid-template-columns: 1fr 1fr;
    // }

    // // @include sm {
    // //     display: flex;
    // //     flex-direction: column;
    // //     text-align: center;

    //     input {
    //         margin-bottom: $gap;
    //     }
    }


    button.btn-accent  {
    color: $color-light;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
        cursor: pointer;
        background-color: $color-accent;
    }
}

.form-item {
    &__input {
        display: block;
        height: 60px;
        width: 100%;
        padding: 0 ($gap * 1.5) 0 ($gap * 1.5);
        transition: background-color 0.5s, border-color 0.5s;
        font-size: 1.125rem;
        letter-spacing: 0.15em;
        border: 2px solid rgba(255, 255, 255, 0);
        border-bottom-color: rgba(255, 255, 255, 0.25);
        color: $color-light;
        background-color: rgba(255, 255, 255, 0.05);

        &::placeholder {
            color: $color-gray;
        }

        &:hover, &:focus {
            border-color: rgba(255, 255, 255, 0.15);
            border-bottom-color: $color-light;
            background-color: rgba(255, 255, 255, 0.15);
            color: $color-light;
            outline: none;

            &::placeholder {
                color: lighten($color-gray, 15%);
            }
        }

    }

    &:nth-of-type(1) {
        @media (max-width:$md) and (min-width: $sm)
        {
        // @include md-sm { 
            grid-column: 1 / span 2;
        }
    }
}
