* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-main;
  letter-spacing: 0.1em;
  overflow: hidden;
  overflow-y: scroll;
  color: $color-gray;
}


h1 {
  font-family: $font-header;
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }

  @include lg-md {
    font-size: 2.5rem;
  }

  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  font-family: $font-header;
  font-size: 2.5rem;
  color: $color-primary;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 56px;


  @include lg-md {
    font-size: 2rem;
    margin-bottom: 42px;
  }

  @include md {
    font-size: 1.5rem;
    margin-bottom: 36px;
  }

  @include sm {
    text-align: center;
  }
}

h3 {
  letter-spacing: 0.05em;
  font-size: 1.125rem;
  color: $color-gray;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.btn {
  border: 2px solid #ffffff;
  border-color: $color-light;
  background-color: rgba($color-light, 0.1);
  @extend %btn-common;
}

.btn-accent {
  background-color: rgba($color-primary, 0.8);
  border-color: $color-light;
  border: 2px solid $color-primary;
  height: 60px;
  padding: 18px $gap 18px $gap;
  font-size: 1.125rem;
  

  @extend %btn-common;

  
  @include sm {
    width: 100%;
  }
}
