%btn-common {
  display: block;
  text-align: center;
  transition: background-color 0.5s;
  letter-spacing: 0.1em;
  height: 60px;
  padding: 18px $gap;
  font-size: 1.125rem;
  border-width: 2px;
  border-style: solid;

  &:hover {
    background-color: $color-accent;
  }
}

%container {
  max-width: $ul;
  margin: auto;
  padding-left: $gap;
  padding-right: $gap;
}


%section {
  @include lg-min {
    padding-top: $gap * 5;
    padding-bottom: $gap * 5;
  }
  @include lg-md {
    padding-top: $gap * 4;
    padding-bottom: $gap * 4;
  }
  @include md {
    padding-top: $gap * 3;
    padding-bottom: $gap * 3;
  }

  h2 {
    margin-top: 0;
  }
}