.footer {
    text-align: center;
    background-color: $color-primary;
}

.footer__container {
    display: block;
    min-height: 250px;
    width: auto;
}

.footer__social {
    padding: 49px $gap 0 $gap;
    font-size: 2.17rem;
    letter-spacing: 0.01em;
    margin-bottom: 56px;
    position: relative;

    &::after {
        position: absolute;
        width: 75px;
        height: 2px;
        content: "";
        background-color: rgba(255, 255, 255, 0.1);
        bottom: -28px;
        left: calc(50% - 75px / 2);
    }

    a {
        padding: 5px 5px 5px 5px;
        transition: color 0.5s;

        &:hover {
            color: $color-accent;
        }
    }
}

.footer__content {
    letter-spacing: 0.29em;
    line-height: 1.3em;

    &__first {
    padding-left: $gap / 4;
    }

    &__second {
        font-weight: bold;
        color: $color-light;
        letter-spacing: 0.05em;
    }
}
