.header {
    position: relative;
    min-height: 100vh;
    background-image: url(../scss/img/header-block.png);
    background-size: cover;
    background-position: 50% 50%;
    display: grid;
    align-items: center;
    color: $color-light;
}







